<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo-barra">
                <div class="div-logo">
                    <img id='logo' src="/images/logo-mercado-liebre.svg" alt= logo/>
                </div>
                <div id="search">
                    <form action="/" method="POST">
                        <input type="search"  placeholder="Buscar"/>
                    </form>
                   
                    <i class="fas fa-search" id='barra'></i>
                

                </div>
                   
            </div>
            <div>
                <h2 class= "copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de credito</h2>
            </div>
                
        </div>

        <a href="#" class="burger-menu" >
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-nav-bar">
            <ul class="left-nav-bar">
                <li><a href="#">ofertas</a></li>
                <li><a href="#">Tiendas Ofciales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-nav-bar">
                <li><a href="http://localhost:5050/register">Crea tu cuenta
                    <i class="far fa-address-card"></i></a></li>
                <li><a href="http://localhost:5050/login">ingresá
                    <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras
                    <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    
    </header>
    
    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner" class="banner"/>

        <h2 class='visita'>Basado en tu última visita</h2>
        <section class="lista-producto">
            
            <section class= 'articulo'>
                <img src='/images/img-cafetera-moulinex.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$6.770</article>
                        <article class ='descuentos'>40% OFF</article>
                    </div>
                    <article class ='descripcion'>Cafetera Moulinex</article>
                </div>
            </section>
            <section class= 'articulo'> 
                <img src='/images/img-macbook-pro-2019.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$230.00</article>
                        <article class ='descuentos'>20% off</article>
                    </div>
                        <article class ='descripcion'>MacBook Pro 2019</article>
                    
                </div>
            </section>
            <section class= 'articulo'>
                <img src='/images/img-samsung-galaxy-s10.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$70.500</article>
                        <article class ='descuentos'>10% off</article>
                    </div>
                        <article class ='descripcion'>Samsung Galaxy S10</article>
                    
                </div>
            </section>
            <section class= 'articulo'>
                <img src='/images/img-tv-samsung-smart.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$23.200</article>
                        <article class ='descuentos'>5% off</article>
                    </div>
                    <article class ='descripcion'>SmartTV Samsung 43"</article>
                </div>
            </section>

            
        </section>
        <h2 class="ofertas">Seccion de ofertas</h2>
        <section class="lista-producto" >
            <section class= 'articulo'>
                <img src='/images/img-cafetera-moulinex.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$6.770</article>
                        <article class ='descuentos'>40% OFF</article>
                    </div>
                    <article class ='descripcion'>Cafetera Moulinex</article>
                </div>
            </section>
            <section class= 'articulo'>
                <img src='/images/img-macbook-pro-2019.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$230.00</article>
                        <article class ='descuentos'>20% off</article>
                    </div>
                    <article class ='descripcion'>MacBook Pro 2019</article>
                </div>
            </section>
            <section class= 'articulo'>
                <img src='/images/img-samsung-galaxy-s10.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$70.500</article>
                        <article class ='descuentos'>10% off</article>
                    </div>
                    <article class ='descripcion'>Samsung Galaxy S10</article>
                </div>
            </section>
            <section class= 'articulo'>
                <img src='/images/img-tv-samsung-smart.jpg'>
                <div class='propiedades'>
                    <i class="camion fas fa-truck-moving"></i>
                    <div class="precio-descuento">
                        <article class= 'precio'>$23.200</article>
                        <article class ='descuentos'>5% off</article>
                    </div>
                    <article class ='descripcion'>SmartTV Samsung 43"</article>
                <div>
            </section>

        </section>
    </main>
    <footer>
        <div>
        <section class="footer">
            <i class="fas fa-credit-card icono"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="footer-description">Con Mercado Liebre Cash, tenes cuotas sin intrés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </section>
        <section class="footer">
            <i class="fas fa-gift icono"></i>
            <h4>Envio gratis desde los $2.500</h4>
            <p class="footer-description">Solo por estar registrado en Mercado Liebre
                tenes envios gratis en miles de productos
                .Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="footer">
            <i class="fas fa-user-shield icono"></i>
            <h4>Seguridad de principio a fin</h4>
        
            <p class="footer-description">¿No te gusta? ¡Devolvelo! En Mercado Liebre
                no hay nada que np puedas hacer porque estas siempre
                protegid@.
            </p>
        </section>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
    
</body>
</html>
